/* CommonStyles.css */
.site-layout-background {
    background-color: #fff; /* 밝은 배경 */
}

.site-layout .site-layout-background {
    background: #ececec; /* 상단 바 색상 */
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
}
